# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Generated data / artifacts
db/*.db
outputs/
models/*.pkl
models/*.joblib
